.categoryContainer {
  background-color: #b4c5e4;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: 32rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryCardScroll {
  width: 100%;
  overflow-y: auto;
}

.categoryContainer > p {
  margin-bottom: 1rem;
}

.addCategoryButton {
  background-color: #cadcff;
  width: 100%;
}

.addCategoryButton:hover {
  background-color: #f2f7ff;
}
