.dashboardNavigation {
  background-color: #090c9b;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigationGroup > h1 {
  margin: 1rem 0;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  color: #fff;
}

.activeLink {
  background-color: #b4c5e4;
  color: #050758;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.buttonContainer > button {
  margin-bottom: 1rem;
}
