.dashboardNavigation {
  background-color: #090c9b;
  height: 100%;
  width: 8rem;
  text-align: center;
  position: fixed;
}

.link {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
}

.activeLink {
  background-color: #b4c5e4;
  color: #050758;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
