.header {
  background-color: #090c9b;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
}

.header h1 {
  color: #fbfff1;
}

.headerButtonContainer button:last-child {
  margin-left: 1rem;
}
