.yearInfoContainer {
  background-color: #b4c5e4;
  color: #050758;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.circle {
  background-color: red;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
}

.activeCircle {
  background-color: green;
}
