body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 1.2rem;
  color: #050758;
  background-color: #b4c5e4;
}

.btn:hover {
  background-color: #c3c9d4;
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
}
